<!--
Single-page HTML Export v3
Changed for exporting a single view!
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{modelTitle}} model export</title>
	{{styleTag}}

	<!-- <link rel="stylesheet" href="{{cssAbsolutePath}}" />		 -->

</head>
	<body>
		<header id="main-header" class="top-header ">
			<span class="title">{{modelTitle}}</span>
		</header>

		<main>
			{{views}}
		</main>
		</body>
</html>







